* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(47, 67, 94);
  color: #eeeeff;
}
.cntnr {
  margin: 15px;
  border: dotted 3px #fff;
  padding: 8px;
  min-height: 800px;
  border-radius: 12px;
}
#stats,
#log {
  margin: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
#log {
  max-height: 500px;
  overflow-y: scroll;
}
button {
  background: linear-gradient(
    45deg,
    rgba(42, 123, 155, 1) 0%,
    rgb(70, 104, 100) 50%,
    rgba(80, 92, 128, 1) 100%
  );
  margin: 4px 6px;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  border: 2px solid #fabe00;
  box-shadow: 4px 4px 8px #000;
}
#game-screen-left,#game-screen-right {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 12px;
  padding: 6px;
}

#game-screen{
  display:flex; 
  justify-content: space-between;
}
#main-map {
display: grid;
grid-template-columns: repeat(12, 1fr);
gap: 1px;
width: 360px;
height: 360px;
margin-bottom: 20px;
}
/* game.html, a <style> tagban */
.modal {
  display: none; /* Alapértelmezetten rejtett */
  position: fixed; /* Fix pozícióban van a képernyőn */
  z-index: 1; /* A többi tartalom fölött jelenjen meg */
  left: 0;
  top: 0;
  width: 100%; /* Teljes képernyő szélesség */
  height: 100%; /* Teljes képernyő magasság */
  overflow: auto; /* Görgetés, ha szükséges */
  background-color: rgba(0,0,0,0.4); /* Félátlátszó fekete háttér */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% fentről, középre igazítva */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Szélesség (beállítható) */
  max-width: 600px; /* Max. szélesség, hogy ne legyen túl nagy */
  border-radius: 8px;
  position: relative;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}